In [2]:
5/4

1.25

In [3]:
5./4.

1.25

In [5]:
5./4

1.25

In [7]:
1/1

1.0

In [9]:
6/3

2.0

In [11]:
1/3

0.3333333333333333

In [13]:
-5/4

-1.25

In [15]:
-(5/4)

-1.25

In [29]:
x = 5 *1000*1000+5*100000000*100000000*100000000*100000000*100000000^100000000^100000000
print(x)
type(x)

50000000000000000000000000000000005000000

int

In [38]:
y=4/2
print(y)
type(y)

2.0

float

In [48]:
a = True
b = True
print(a,b)
print(a+b)

True True
2

In [49]:
print(int(a), int(b))

1 1

In [56]:
print(False or True)
print(True or False)
print(False and True)
print(True and False)

True
True
False
False

In [60]:
x = None
print(x)
type(x)

None

NoneType

In [80]:
x = 'Ivan'
print(x)
print(type(x))

Ivan
<class 'str'>

In [76]:
print(x[0:4:2])

Ia

In [88]:
y = 'Элеонора Михайловна'
print(y)
print(type(y))

z = 'Элеонора Михайловна'
print(z)
print(type(z))

Элеонора Михайловна
<class 'str'>
Элеонора Михайловна
<class 'str'>

In [92]:
len(y)

19

In [91]:
len(z)

19

In [94]:
splitted_line = "Ivanov Ivan Ivanovich".split(' ')
print(splitted_line)

['Ivanov', 'Ivan', 'Ivanovich']

In [96]:
type(splitted_line)

list

In [98]:
splitted_line = "Иванов Иван Иванович".split(' ')
print(splitted_line)

['Иванов', 'Иван', 'Иванович']

In [101]:
income = ['Высокий', 'Средний', 'Низкий']
names = ['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

print(income)
print(names)

['Высокий', 'Средний', 'Низкий']
['Элеонора Михайловна', 'Иван Иванович', 'Михаил Абрамович']

In [104]:
print(', '.join(names))

Элеонора Михайловна, Иван Иванович, Михаил Абрамович

In [110]:
features = ('Name', 500000, 12, True)
print(features)
print(type(features))

('Name', 500000, 12, True)
<class 'tuple'>

In [112]:
features.append('another element')

AttributeError: 'tuple' object has no attribute 'append'

In [126]:
a = range(10000)
b = range(10000)
b = set(b)
type(a)

TypeError: 'type' object is not subscriptable

In [127]:
print(a[-1])

9999

In [129]:
%%time 
print(9999 in a)

True
CPU times: user 229 µs, sys: 82 µs, total: 311 µs
Wall time: 590 µs

In [131]:
%%time 
print(9999 in b)

True
CPU times: user 221 µs, sys: 93 µs, total: 314 µs
Wall time: 268 µs

In [133]:
new_dict = dict()
new_dict['I'] = 1
new_dict['am'] = 1
new_dict['I'] += 1

print(new_dict)

{'I': 2, 'am': 1}

In [135]:
print(new_dict['I'])

2

In [137]:
new_dict = {'I':2, 'am':1}
print(new_dict['I'])

2